@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

/* Add this to your global CSS file */
.cursor {
  position: fixed;
  width: 10px!important;
  height: 10px!important;
  border-radius: 12px;
  opacity: 1;
  background: linear-gradient(190.05deg, #ff7f7f -16.32%, #ff1f1f 56.32%, #f68080 115.25%);
  transform: translate(-50%,-50%);
  z-index: 2100;
  pointer-events: none;
  transition: opacity .5s, transform .5s, top .1s ease-in-out, left .1s ease-in-out;
}
